<% conversation_user = private_conversation.user %>
<% person = (conversation_user == current_user) ? "You" : private_conversation.user.full_name %>

<div class="media border p-2">
  <img src="<%=(url_for(conversation_user.avatar))%>" alt=<%= person %> class="mr-3 mt-3 rounded-circle border border-dark" style="width:30px;">
  <div class="media-body">
    <h6><%= person %> <small><i>Posted on <%= private_conversation.created_at.strftime("%F, %I:%M %p") %>  </i></small></h6>
    <p><%= Emojify::emojify private_conversation.body %></p>
    <% if private_conversation.attachment.attached? %>
      <div class="attachment">
        <image src="<%=(url_for(private_conversation.attachment))%>" style="width:30px;height:auto;">
      </div>
    <% end %>
  </div>
</div>

